/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
input {
    text-transform: uppercase;
}
.rotar
{	width: 100% !important;
	height: 500px !important;
	min-height: 100px !important;
}
#info-centro
{
	display: none;
}
#con_centro
{
	display: none;
}
#domgeo
{
	display: none;
}
#munloc
{
	display: none;
}
#dato_loca
{
	display: none;
}
#dato_centro
{
	display: none;
}
#dato_incor
{
	display: none;
}
#dato_cartog
{
	display: none;
}
#dato_program
{
	display: none;
}
#dato_dir
{
	display: none;
}
#dataclausura{
	display: none;
}
#actions-mov{
	display: none;
}
#observaciones{
	display:none;
}
#solicitante{
	display:none;
}
#acrit_mov{
	display:none;
}
#fecha_fund_mov{
	display:none;
}
#dato_inm{
	display:none;
}
#croquis{
	display:none;
}
#clavesinmue{
	display: none;
}

/*creado por alfredo para cristina*/
.btn-otro {
		  color: #fff;
		  background-color: #B79738;
		  border-color: #B79738;
		}
		.btn-otro:hover, .btn-otro:focus, .btn-otro:active, .btn-otro.active {
		  color: #fff;
		  background-color: #B79738;
		  border-color: #B79738;
		}
		.open .btn-otro.dropdown-toggle {
		  color: #fff;
		  background-color: #B79738;
		  border-color: #B79738;
		}
		.btn-otro:active, .btn-otro.active {
		  background-image: none;
		  background-color: #B79738;
		}
		.btn-otro:active:hover, .btn-otro.active:hover {
		  background-color: #B79738;
		}
		.open .btn-otro.dropdown-toggle {
		  background-image: none;
		}
		.btn-otro.disabled, .btn-otro.disabled:hover, .btn-otro.disabled:focus, .btn-otro.disabled:active, .btn-otro.disabled.active, .btn-otro[disabled], .btn-otro[disabled]:hover, .btn-otro[disabled]:focus, .btn-otro[disabled]:active, .btn-otro[disabled].active, fieldset[disabled] .btn-otro, fieldset[disabled] .btn-otro:hover, fieldset[disabled] .btn-otro:focus, fieldset[disabled] .btn-otro:active, fieldset[disabled] .btn-otro.active {
		  background-color: #B79738;
		  border-color: #B79738;
		}
		.btn-otro .badge {
		  color: #B79738;
		  background-color: #fff;
		}

#reporte1_boton_reporte{
	display:none;
}

#reporte2_boton_reporte{
	display:none;
}

#reporte3_boton_reporte{
	display:none;
}

#reporte4_boton_reporte{
	display:none;
}

#reporte5_boton_reporte{
	display:none;
}

#reporte6_boton_reporte{
	display:none;
}